#popup-box {
  width: 50%;
  background-color: hotpink;
  color: yellow;
  margin: 300px 0px 0px 300px;
}

#input-email {
  width: 50%;
  display: inline-block;
}

#input-submit {
  margin-left: 5px;
  display: inline-block;
  color: hotpink;
  border: 1px solid black;
  background-color: lightblue;
}
